<div class="menu">
  <h4 class="main-heading">
    {{ site.title }}
  </h4>

  <a href="{{ site.baseurl }}" class="logo-container">
    <img src="{{ '/img/logo.svg' | prepend: site.baseurl }}">
  </a>

  <section>
    <a href="{{ site.baseurl }}">Home</a>
  </section>

  <section>
    <h4 class="heading -bordered"> Getting Started </h4>
    {% for node in site.pages %}
      {% if node.section == "intro" %}
        <a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
      {% endif %}
    {% endfor %}
  </section>

  <section>
    <h4 class="heading"> API Documentation </h4>
    {% for node in site.pages %}
      {% if node.section == "api" %}
        <a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
      {% endif %}
    {% endfor %}
  </section>
</div>