@mixin row() {
  margin-left: -$gutter;
  margin-right: -$gutter;
  @include clearfix;
}

@mixin span-columns($span) {
  padding-left: $gutter;
  padding-right: $gutter;
  width: (100% / 12) * $span;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    @include span-columns($i);
  }
}