@mixin bitter() {
  font-family: "Bitter", "Lora", Georgia, serif;
}

@mixin lora() {
  font-family: "Lora", Georgia, serif;
}

@mixin typoline() {
  width: 50px;
  height: 3px;
  background: $black;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  @include vertical-rhythm;
}

h1, h2, h3, h4, h6, h6 {
  color: $gray;
  @include bitter;
}

a {
  color: $link;
  text-decoration: none;

  &:hover {
    color: darken($link, 5%);
    text-decoration: underline;
  }
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 10px 20px;
  border-left: 3px solid $black;

  > p {
    margin: 0;
  }
}