<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <section class="container">
      {% sidebar.html %}


      <main class="content">
        <div class="content-section">
          <h1 class="special-heading">{{ page.title }}</h1>
          
          {% if page.section =="docs" and page.type %}
            <div class="bottom-spacing-1">
              <span class="label">{{ page.type }}</span>
            </div>
          {% endif %}

          {{ content }}
        </div>
      </div>
    </main>
  </body>

</html>
