<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <section class="container">
      <div class="menu">
        <h4 class="main-heading">
          {{ site.title }}
        </h4>

        <a href="{{ site.baseurl }}" class="logo-container">
          <img src="{{ '/img/logo.svg' | prepend: site.baseurl }}">
        </a>

        <section>
          <h4 class="heading -bordered"> Getting Started </h4>
          {% for page in site.pages %}
            {% if page.section == "intro" %}
              <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
        </section>

        <section>
          <h4 class="heading"> API Documentation </h4>
          {% for page in site.pages %}
            {% if page.section == "api" %}
              <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
        </section>
      </div>


      <main class="content">
        <div class="content-section">
          <h1 class="special-heading">{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
    </main>
  </body>

</html>
